:root { 
--teal_A400_cc:#24d0a0cc; 
--bluegray_50:#eef1f8; 
--lime_600_7f:#caa8617f; 
--green_700:#228848; 
--black_900_3f:#0000003f; 
--blue_500_bc:#1e8afebc; 
--deep_orange_300:#f6836b; 
--light_blue_A700:#007bff; 
--blue_600_bc:#157eeebc; 
--deep_purple_A200:#7b61ff; 
--gray_600:#6f6e6e; 
--gray_402:#c8c8c8; 
--gray_601:#706e6e; 
--gray_400:#b5b5b5; 
--gray_401:#c4c4c4; 
--orange_A200:#ec973c; 
--blue_700_bc:#026ee1bc; 
--blue_500:#1e8afe; 
--gray_800:#4f3e54; 
--gray_801:#414040; 
--black_900_0c:#0000000c; 
--blue_500_cc:#1e8afecc; 
--blue_500_33:#1e8afe33; 
--orange_200:#dbc380; 
--black_900_99:#00000099; 
--teal_A400_d8:#24d0a0d8; 
--amber_A200_7f:#fed1427f; 
--black_900_19:#00000019; 
--bluegray_900_a0:#202c54a0; 
--white_A700:#ffffff; 
--bluegray_900_e0:#313534e0; 
--blue_600_bc1:#1881f2bc; 
--gray_600_96:#6f6e6e96; 
--amber_A200:#fed142; 
--black_900_1e:#0000001e; 
--gray_700_c4:#6a6969c4; 
--black_900:#000000; 
--light_green_500:#9bc539; 
--yellow_900:#de7718; 
--light_blue_A700_96:#007bff96; 
--gray_400_33:#c4c4c433; 
--blue_500_7f:#1e8afe7f; 
--black_900_26:#00000026; 
--bluegray_900_af:#313534af; 
--gray_500:#9f9f9f; 
--lime_600:#caa861; 
--gray_400_1e:#c4c4c41e; 
--bluegray_100:#cfcfcf; 
--gray_700_5b:#6a69695b; 
--orange_300:#feb863; 
--teal_A400:#24d0a0; 
--bluegray_900:#202c54; 
--gray_400_66:#b5b5b566; 
--black_900_35:#00000035; 
--light_blue_A700_bc:#007bffbc; 
}